body{
    margin: 0;
    padding: 0;
}
header{
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 95px;
    margin: auto 0;
}
.logo img{
    width: 100%;
}
nav ul{
    display: flex;
}

section{
    width: 90%;
    margin: auto;
}
