/* ajout de la police */
@font-face{
    font-family: Raleway;
    src: url("https://daigerlittle.github.io/CamilleCrapat_2_19072021//font/raleway-regular.ttf");
}
@font-face{
    font-family: Raleway;
    src: url("https://daigerlittle.github.io/CamilleCrapat_2_19072021//font/raleway-bold.ttf");
    font-weight: bold;

}

/* paramètre généraux */ 
body{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style-type: none;
}
header, nav ul, .search, .filter, .--filter, .location, .--lodging, .--activity, footer {
    display: flex;
}

/* header : logo et menu */
header{
    width: 90%;
    height: 100px;
    margin: auto;
    justify-content: space-between;
}
.logo{
    width: 95px;
    margin: auto 0;
}
.logo img{
    width: 100%;
}
nav ul li{
    width: 160px;
    height: 100px;
    text-align: center;
}
nav ul li:hover{
    border-top: 2px #0065FC solid;
}
nav ul li a{ 
    display: inline-block;
    vertical-align: middle;
}


/* Filtre + Recherche */ 
.search-filter{
    width: 90%;
    margin: auto;
}
.search-filter h1{
    margin: 0;
}
.search-filter p{
    margin: 10px 0 25px 0;
}
.map{
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    text-align: center;
}
.fas.fa-map-marker-alt{
    font-size: 18px;
    margin: auto;
}
.--search{
    width: 230px;
    height: 50px;
    margin: 0;
    padding: 0;  
    border: 0px;  
    font-weight: bold;
    font-size: 16px;
}
.button-search{
    background-color: #0065FC;
    width: 130px;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 0 10px 10px 0;
    border: 0px ;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.filter{
    margin: 30px 0 40px 0;
}
.filter h2{
    margin : auto 30px auto 0;
}
.--filter{
    height: 50px;
    border-radius: 20px 20px 20px 20px;
    border-top: 2px #F2F2F2 solid;
    border-right: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    font-weight: bold;
    margin: 0 25px 0 0;
}
.--filter p{
    margin: auto 20px auto 10px;
}
.filter-img{
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
}
.--filter .fas{
    color: #0065FC;
}
.fas.fa-info-circle{
    color: #0065FC;
}
p.info{
    margin: 10px 0 40px 0;
}
li.register a{
    color: #0065FC;
    font-weight: bold;
}
/* Résultat de recherche */
.location{
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.lodging{
    width: 840px;
    padding: 15px 0 0 40px;
}
.lodging h2{
    font-size: 22px;
}
.lodging h3{
    font-size: 18px;
    margin-top: 45px;
}
.lodging, .popular{
    background-color: #F2F2F2;
    height: 625px;
    border-radius: 20px;
}
.--lodging{
    justify-content: space-around;
    flex-wrap: wrap;    
}
.lodging-figure{
    background-color: #fff;
    width: 245px;
    height: 200px;
    margin: 30px 30px 0 0;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #000;
    overflow: hidden;
}
.lodging-figure p, .popular-figure p{
    font-size: 12px;
    margin: 5px 0;
}
.lodging-figure h3, .popular-figure h3{
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}
.lodging-figure figcaption{
    width: 215px;
    height: 80px;
    margin: auto;
}
.img-lodging{
    width: 235px;
    height: 115px;
    overflow: hidden;
    margin: 5px auto 0 auto;
    border-radius: 20px 20px 0 0;
}
.fas.fa-star{
    color: #0065FC;
    font-size: 12px;
}
#star-gray{
    color: #F2F2F2;
}

/* Les plus populaires */
.popular{
    width: 395px;
    padding: 15px 0 0 35px;
}

.popular-figure{
    background-color: #fff;
    width: 345px;
    height: 145px;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #000;
    overflow: hidden;
    display: flex;
}
.img-popular{
    width: 135px;
    height: 135px;
    overflow: hidden;
    margin: 5px 0 5px 5px;
    border-radius: 20px 0 0 20px;
}
.popular-figure figcaption{
    width: 165px;
    margin: 20px;
}
/* footer */
footer{
    background-color: #F2F2F2;
    width: 100%;
    height: 220px;
}
.about, .footer-lodging, .assistance{
    margin: 0 220px 0 0;
}
footer ul{
    margin: 0;
    padding: 0;
}
