    /* ajout de la police */
@font-face{ /* Ajout de la police Raleway Régular */
    font-family: Raleway;
    src: url("https://daigerlittle.github.io/CamilleCrapat_2_19072021//font/raleway-regular.ttf");
}
@font-face{ /* Ajout de la police Raleway Bold */
    font-family: Raleway;
    src: url("https://daigerlittle.github.io/CamilleCrapat_2_19072021//font/raleway-bold.ttf");
    font-weight: bold;
    
}
/* paramètre généraux */ 
body{ /* réglage margin padding et font-family de la page */
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}
a{ /* suppression text decoration et couleur lien */
    text-decoration: none;
    color: #000;
}
li{ /* suppression des puces sur les listes de la page */
    list-style-type: none;
}

/* header : logo et menu */
header{ /* Contener header */
    width: 95%;
    height: 6.25em;
    margin: auto;
    justify-content: space-between;
}
.logo{ /* bloc logo */
    width: 7%;
    margin: auto 0;
}
.logo img{ /* réglage de la taille de l'image */
    width: 100%;
}
nav{
    height: 6.25em;
}
nav ul{ /* Suppression de la marge et du padding */
    margin: 0;
    padding: 0;
}
nav li{ /* réglage bloc li menu */
    width: 50%;
    height: 6.25em;
    text-align: center;
    margin: auto;
}
nav ul li:hover{ /* ajout d'une bordure au survol de li */
    border-top: 0.125em #0065FC solid;
}
nav li a{  /* Centrer verticalement les liens du menu */
    display: inline-block;
    width: 100%;
    height: 6.25em;
    margin: auto;
    line-height: 6.25em;
}
li.register a{ /* Différentiation register */
    color: #0065FC;
    font-weight: bold;
}
.--nav{
    width: 70%;
}
.--nav-register{
    width: 30%;
}
/* Filtre + Recherche */ 
.search-filter{ /* contener Filtre + Recherche */
    width: 95%;
    margin: auto;
}
.search-filter h1{ /* titre contener */
    margin: 0;
}
.search-filter p{ /* paragraphe contener */
    margin: 0.625em 0 1.562em 0;
}
.map{ /* contener icône map */
    background-color: #F2F2F2;
    height: 3.125em;
    border-radius: 0.625em 0 0 0.625em;
    text-align: center;
}
.map p{ /* paragraphe icône map */
    margin: 0;
    line-height: 3.125em;
}
.fas.fa-map-marker-alt{ /* icône map */
    font-size: 1.125em; 
}
form{ /* définition taille formulaire */
    margin: 0;
    padding: 0;
}
.--search{ /* input recherche */
    width: 60%;
    height: 3.125em;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    border: 0px;  
    font-weight: bold;
    font-size: 1.125em;
}
.button-search{ /* boutton recherche */
    background-color: #0065FC;
    width: 35%;
    height: 3.125em;
    margin: 0;
    padding: 0;
    border-radius: 0 0.625em 0.625em 0; 
    border: 0px ;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}
.button-search:hover{ /* paramètre survol boutton recherche */
    cursor: pointer;
}
.button-search-mobile{
    display: none;
}
 /* Filtre */
.filter{ /* contener filtre */
    margin: 1.875em 0 2.5em 0;
}
.filter-bloc{
    display: flex;
    flex-wrap: wrap;
}
.filter h2{ /* titre contener */
    margin : auto 1.875em auto 0;
}
.--filter{ /* sous contener filtre */
    height: 3.125em;
    border-radius: 3.125em 3.125em 3.125em 3.125em;
    border-top: 0.125em #F2F2F2 solid;
    border-right: 0.125em #F2F2F2 solid;
    border-bottom: 0.125em #F2F2F2 solid;
    font-weight: bold;
    margin: 10px 1.5625em 0 0;
}
.--filter:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}
.filter-img{ /* contener rond contenant icône */
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
}
.--filter .filter-img p{ /* paragraphe icône */
    margin: auto;
}
.filter-img .fas{ /* icône */
    color: #0065FC;
    line-height: 3.125em;
}
.--filter p{ /* paragraphe icône et texte */
    margin: auto 1.25em auto 0.725em;
}

.fas.fa-info-circle{ /* icône info */
    color: #0065FC;
}
 /* Résultat de recherche */
 .location{ /* Contener contenant lodging et popular */
    width: 95%;
    margin: auto;
    justify-content: space-between;
}

.lodging h2{ /* Gros titre lodging */
    font-size: 1.375em;
    margin: 2.5em 0 1.875em 1.875em;
}
.lodging h3{ /* Titre lodging */
    font-size: 1.125em;
    margin: 0 0 2.5em 1.875em;
}
.lodging, .popular{ /* contener lodging + popular */
    background-color: #F2F2F2;
    border-radius: 1.25em;
}
.--lodging{ /* sous-contener lodging contenant tous les logements */
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.--lodging a{ /* lien entourant les lodging figure */
    display: inline-block;
    width: 28%;
}
.--lodging a:hover{ /* agrandi le bloc au survol */
    transform: scale(1.05);
}
.lodging-figure{ /* bloc unitaire contenant image + texte de chaque logement */
    background-color: #fff;
    width: 100%;
    height: 12.5em;
    margin: 0 auto 2.5em auto;
    border-radius: 1.25em;
    box-shadow: 0px 6px 6px #cbcbcb;
    overflow: hidden;
}
.img-lodging{ /* Bloc contenant l'image du logement */
    width: 97%;
    height: 7.188em;
    overflow: hidden;
    margin: 0.313em auto 0 auto;
    border-radius: 1.25em 1.25em 0 0;
}
.img-lodging img{ /* Paramètre de l'image */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lodging-figure p, .popular-figure p{ /* Paramètre paragraphe lodging et popular */
    font-size: 12px;
    margin: 0.312em 0;
}
.lodging-figure h3, .popular h3{ /* Paramètre titre lodging et popular */
    font-size: 14px;
    font-weight: bold;
    margin: 0.312em 0;
}
.lodging-figure figcaption{ /* Paramètre texte en dessous des images de logements */
    width: 92%;
    height: 5em;
    margin: auto;
}
.fas.fa-star{ /* étoile de notation */
    color: #0065FC;
    font-size: 12px;
}
.fas.fa-star.star-gray{ /* étoile de notation grisé */
    color: #F2F2F2;
}
.popular h2{ /* Paramètre titre popular */
    font-size: 1.375em;
    margin: 2.5em 0 1.875em 1.875em;
}
.--popular a{
    display: inline-block;
}
.popular a:hover{
    transform: scale(1.05);
}
.popular-figure{
    background-color: #fff;
    width: 100%;
    margin: 0 auto 2.5em auto;
    border-radius: 1.25em;
    box-shadow: 0px 6px 6px #cbcbcb;
    overflow: hidden;
}
.img-popular{
    overflow: hidden;
}
.img-popular img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 /* Les Activités */
 .activity{ /* Contener activité */
    width: 95%;
    margin: auto;
}
.activity h2{ /* Titre */
    font-size: 1.375em;
    margin: 2.5em 0 1.875em 0;
}
.bloc-activity{ /* Bloc réunissant toutes les activités */
    width: 100%;
    margin: 0 0 3.75em 0;
    justify-content: space-between;
}
.--activity{ /* Bloc réunissant la colone d'activité */
    width: 23%;
}
.--activity a, .--activity.small a{ /* Lien */
    width: 100%;
}
.activity a:hover{ /* Action au survol */
    transform: scale(1.05);
}
.large{ /* figure large */
    width: 100%;
    margin: 0;
    border: 0.125em solid #F2F2F2;
    border-radius: 1.25em;
    box-shadow: 0px 6px 6px #e5e4e4;
    overflow: hidden;
}
.--activity-small{ /* Contener d'activité petit */
    width: 23%;
    flex-direction: column;
    justify-content: space-between;
}
.img-large{ /* Bloc img large */
    width: 100%;
}
.activity img{ /* toutes les images */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.activity figcaption{ /* tous les figcaption */
    width: 100%;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 3.437em;
    padding-left: 1.25em;
}
.medium{ /* Figure medium */
    width: 100%;
    margin: 0;
    border: 0.125em solid #F2F2F2;
    border-radius: 1.25em;
    box-shadow: 0px 6px 6px #e5e4e4;
    overflow: hidden;
}
.img-medium{ /* Bloc img medium */
    width: 100%;
}
.small{ /* Figure small */
    width: 100%;
    margin: 0;
    border: 0.125em solid #F2F2F2;
    border-radius: 1.25em;
    box-shadow: 0px 6px 6px #e5e4e4;
    overflow: hidden;
}
.img-small{ /* Bloc img small */
    width: 100%;
}
 /* footer */
 footer{
    background-color: #F2F2F2;
    width: 100%;
    height: 13.75em;
}
.--footer{
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.--footer h2{
    margin: 45px auto 25px;
}
.--footer .about ul li{
    margin-bottom: 15px;
}
.about{
    width: 28%;
}
footer ul{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1280px) {
    header, nav, nav ul, .search, .filter, .--activity-small, .--filter, .location, .--lodging, .--activity, .bloc-activity, .--footer { /* Mise en place de flex sur les différents contener */
        display: flex;
    }
    nav{ /* Définition de la taille du menu */
        width: 33%;
    }
    .search{ /* Défintion taille recherche */
        width: 30%;
    }
    .map{ /* Définition taille map */
        width: 12%;
    }
    form{ /* définition taille formulaire */
        width: 88%;
    }
    p.info{ /* paragraphe info */
        margin: 0.625em 0 2.5em 0;
    }
    .lodging{ /* Définition de la largeur du contener lodging */
        width: 63%;
    }   
    .popular{ /* Défition taille popular */
        width: 33%;
    }
    .--popular{ /* Particularité --popular vue PC */
        width: 80%;
        margin: auto auto 0 auto;
        padding: 0;
    }
    .--popular a{ /* Définition taille lien popiular */
        width: 100%;
    }
    .popular-figure{
        height: 9.062em;
        display: flex;
    }
    .img-popular{
        width: 40%;
        height: 8.437em;
        margin: 0.312em 0 0.312em 0.312em;
        border-radius: 1.25em 0 0 1.25em;
    }
    
    .popular-figure figcaption{
        width: 60%;
        margin: 1.25em;
    }
    
   
    .--activity{ /* Bloc réunissant la colone d'activité */
        height: 27.813em;
    }
   
    .--activity-small{ /* Contener d'activité petit */
        height: 27.813em;
    }
    
    .img-large{ /* Bloc img large */
        height: 24.375em;
    }
    .activity figcaption{ /* tous les figcaption */
        height: 3.437em;
    }
    .medium{ /* Figure medium */
        height: 14.687em;
    }
    .img-medium{ /* Bloc img medium */
        height: 11.25em;
    }
    .small{ /* Figure small */
        height: 10.312em;
    }
    .img-small{ /* Bloc img small */
        height: 6.875em;
    }
   
    
}

@media screen and (min-width: 768px) and (max-width: 1279px){
    header, nav, nav ul, .search, .filter, .--filter, .--lodging, .--popular, .--activity, .--activity-small, .bloc-activity, .--footer { /* Mise en place de flex sur les différents contener */
        display: flex;
    }
    
    /* header : logo et menu */
   
    nav{ /* Définition de la taille du menu */
        width: 45%;
    }

        /* Filtre + Recherche */ 
   
    /* Recherche */
    .search{ /* contener recherche */
        width: 100%;
        margin: auto;
    }
    .map{ /* contener icône map */
        width: 10%;
    }
    form{ /* définition taille formulaire */
        width: 90%;
    }
    p.info{ /* paragraphe info */
        margin: 0.4em 0 0.4em 0;
    }
        /* Résultat de recherche */
   
  
    /* Résultat de recherche */
    
    .lodging{ /* Définition de la largeur du contener lodging */
        width: 100%;
    }

/* Les plus populaires */
    .popular{
        width: 100%;
    }
   
    .--popular{
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .--popular a{
        width: 28%;
    }
    .popular a:hover{
        transform: scale(1.05);
    }
    .popular-figure{
        height: 12.5em;
    }
    .img-popular{
        width: 97%;
        height: 7.188em;
        margin: 0.313em auto 0 auto;
        border-radius: 1.25em 1.25em 0 0;
    }
    .popular-figure figcaption{
        width: 92%;
        height: 5em;
        margin: auto;
    }
    .--activity{ /* Bloc réunissant la colone d'activité */
        height: 330px;
    }
    .--activity-small{ /* Contener d'activité petit */
        height: 330px;
    }
    .img-large{ /* Bloc img large */
        height: 285px;
    }
    .activity figcaption{ /* tous les figcaption */
        height: 45px;
    }
    .medium{ /* Figure medium */
        height: 170px;
    }
    .img-medium{ /* Bloc img medium */
        height: 125px;
    }
    .small{ /* Figure small */
        height: 130px;
    }
    .img-small{ /* Bloc img small */
        height: 85px;
    }
    /* footer */
  
    .--footer h2{
        font-size: 16px;
    }
    .--footer .about ul li{
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    header, nav, nav ul, form, .search, .--filter { /* Mise en place de flex sur les différents contener */
        display: flex;
    }
    header{
        flex-wrap: wrap;
        height: 200px;
    }
    .search-filter{
        width: 90%;
        margin: auto;
    }
    .logo{
        width: 50%;
    }
    .logo img{
        width: 60%;
    }
    nav{
        width: 50%;
        flex-wrap: wrap;
    }
    nav ul{
        width: 100%;
    }
    .--nav{
        order : 2;
    }
    .--nav-register{
        width: 100%;
        order: 1;
    }
    .map{
        width: 12%;
    }
    .location{
        display: flex;
        flex-direction: column;
    }
    .popular{
        width: 100%;
        order: 1;
        padding-bottom: 20px;
        border-radius: inherit;
    }
    .--popular{ /* Particularité --popular vue PC */
        width: 90%;
        margin: auto auto 0 auto;
        padding: 0;
    }
    .--popular a{ /* Définition taille lien popiular */
        width: 100%;
    }
    .popular-figure{
        height: 9.062em;
        display: flex;
        margin: 0 auto 0.90em auto;
    }
    .img-popular{
        width: 40%;
        height: 8.437em;
        margin: 0.312em 0 0.312em 0.312em;
        border-radius: 1.25em 0 0 1.25em;
    }
    
    .popular-figure figcaption{
        width: 60%;
        margin: 1.25em;
    }
    .lodging{
        order: 2;
        background-color: inherit;
    }
    .--lodging{
        display: inherit;
        flex-wrap: inherit;
        padding-bottom: 20px;
    }
    .--lodging a{
        width: 95%;
        margin: auto;
    }
    .lodging-figure{
        width: 100%;
        margin: 0 auto 0.90em auto;
    }
    form{
        width: 88%;
    }
    .--search{
        width: 85%;
        line-height: 3.125em;
    }
    .button-search{
        display: none;
    }
    .button-search-mobile{
        display: block;
        background-color: #0065FC;
        width: 15%;
        height: 3.125em;
        margin: 0;
        padding: 0;
        border-radius: 0.625em 0.625em 0.625em 0.625em; 
        border: 0px ;
        color: #fff;
        font-weight: bold;
        font-size: 1em;
    }
    p.info{ /* paragraphe info */
        margin: 0.4em 0 1.2em 0;
    }
    .--activity, .--activity-small{
        width: 95%;
    }
    .large, .medium, .small{
        height: 12.5em;
        margin: 0 auto 0.90em auto;
    }
    .img-large, .img-medium, .img-small{
        height: 9.5em;
    }
}